<br>
<br>
<br>
<br>
<br>
<br>





<h2 align="center">Welcome to the BBB!</h2>

<p align="center">We hope you will enjoy your stay. Our coffees and teas are to die for. Not literally - that would be silly.</p>
<br>
<p align="center">We are a new coffeeshop in the heart of Edinburgh, with an honest policy - we want you to be a returning customer. Bad coffee and bad service is probably not going to help us achieve our goal, nor does overpriced coffee. So we ditched these ideas. We have, however, fantastic staff, freshly grounded coffee, an excellent array of teas and original atmosphere - come and join us for a cuppa!</p> 