<h2 align="center">Hello...Is it Tea you're looking for?</h2>
<br>
<p align="center">You can choose from the following infused wonders:</p>
<ul>
  <li>Black Tea</li>
  <li>Honey tea</li>
  <li>Honey Nut</li>
  <li>Green tea</li>
  <li>Oolong Tea</li>
  <li>Matcha</li>
  <li>White Tea</li>
  <li>Pu-erh</li>
  <li>Herbal</li>
</ul>